include README.md
include LICENSE
include pyproject.toml
include setup.py
include requirements.txt

recursive-include Modeling_Tool *.pyi
recursive-include Modeling_Tool *.c

exclude Modeling_Tool/weighted_integration.py
exclude Modeling_Tool/WOE/WOE_Master.py
exclude Modeling_Tool/WOE/WOE_Monotone_Binner.py
exclude Modeling_Tool/WOE/WOE_Plot_Tool.py
exclude Modeling_Tool/WOE/WOE_Report_Builder.py
exclude Modeling_Tool/WOE/WOE_Tool.py
exclude Modeling_Tool/WOE/plot_woe_tool.py
exclude Modeling_Tool/Feature/Distribution_Tool.py
exclude Modeling_Tool/Feature/Feature_Insights.py
exclude Modeling_Tool/Feature/PSI_Tool.py
exclude Modeling_Tool/Model/Backward_Tool.py
exclude Modeling_Tool/Model/GBM_Tool.py
exclude Modeling_Tool/Model/GBM_Search_Tool.py
exclude Modeling_Tool/Model/LRM_Tool.py
exclude Modeling_Tool/Eval/Evaluation_Tool.py
exclude Modeling_Tool/Eval/Model_Eval_Tool.py
exclude Modeling_Tool/Eval/evaluate_model.py
exclude Modeling_Tool/Sample/Distribution_Adaptation.py
exclude Modeling_Tool/Sample/Reject_Infer.py
exclude Modeling_Tool/Sample/Sample_Split.py
exclude Modeling_Tool/Core/Binning_Tool.py
exclude Modeling_Tool/Core/kDataFrame.py
exclude Modeling_Tool/Core/XOR_Encryptor.py
exclude Modeling_Tool/Core/Slope_Tool.py

recursive-exclude Modeling_Tool/**/backup *
recursive-exclude Modeling_Tool/backup *
exclude Modeling_Tool/Core/test_remove_comments.py
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude *.pyd
global-exclude .DS_Store
